
h1 {
    color: red;
    transition: 0.3s ease-in;
    animation: coloring 6s 15 linear;
    margin-top: 10px;
}


h1 :hover{
    transform: translate(1);
}

@keyframes coloring {
    0% {
        color: orange;
    }
    25% {
        color: orchid;
    }
    45% {
        color: blue;
    }
    65% {
        color: chartreuse;
    }
    85%{
        color: red;
    }
    100%{
        color: green;
    }
}

